
<header>
<nav class="navbar">
<h1>Où travailler à Nantes </h1> 

</nav>
</header>
<div class = "div1">
<p> Salut à toi moussaillon nantais ! </p>
<p>Pour t'aider nous les corsaires de <strong><a href="https://www.thehackingproject.org/">The Hacking Project</a></strong> sessions 5 avons fais, rien que pour toi une petite liste non exhaustive des différents lieux où tu pourras tranquillement galérer sur les projets ;)</p>
<p> Pour avoir une liste complète c'est par <a href="https://www.google.com/">ici</a>.</p>
<h2> Tout d'abord le Top 1 des lieux, le lieu où nous avons passé tout notre temps ! </h2>
<h2> <a href="http://www.lelieuunique.com/infos-pratiques/">Lieu unique </a> </h2>
<div class="photo1">
<%= image_tag 'lieu-unique.jpeg', class: 'photo' %>
</div>
<h2>Top des lieux gratuits </h2>
<ul>
<li><a href="http://www.bu.univ-nantes.fr/presentation/">Bibliothèque universitaire </a> </li>
<li><a href="https://bm.nantes.fr/home/pratique/adresses-et-horaires-1.html">Les Médiathèques</a> </li>
<li><a href="https://www.facebook.com/Gattinonantes/">Le Gattino</a> </li>
<li><a href="https://www.facebook.com/columbusnantes/">Columbus cafe</a> </li>
<li><a href="http://www.les-bien-aimes.fr/">La librairie-café Les Bien-Aimés </a> </li>
<li><a href="https://www.cafesurcour.com/">Le Café sur Cour</a> </li>
<li><a href="https://www.facebook.com/Shefferville-Caf%C3%A9-591691280842786/">Le Shefferville Café</a> </li>
<li><a href="https://www.facebook.com/monsieurmachinnantes/">Monsieur Machin</a> </li>
<li><a href="http://www.chapitre-t.fr/">Chapitre T</a> </li>
<li><a href="https://www.facebook.com/Le-Narcisse-1662718510676910/?ref=page_internal">Le narcisse</a> </li>
<li><a href="http://sugarbluecafe.fr/">Sugar Blue Café</a> </li>
<li><a href="http://esperancecafe.com/">Espérance Café</a> </li>
<li><a href="https://www.google.com/search?client=ubuntu&hs=DPc&channel=fs&ei=02aBW8bsH9CSlwSGjLuYDQ&q=mcdonald%27s+nantes&oq=mcdon&gs_l=psy-ab.1.2.0i67k1j0i131i67k1j0i20i263k1j0i131k1j0l6.236845.238077.0.241558.5.5.0.0.0.0.88.379.5.5.0....0...1.1.64.psy-ab..0.5.376...35i39k1.0.8KBAY4RgKKo"> McDonalds </a> </li>
<li><a href="https://www.google.com/search?client=ubuntu&channel=fs&ei=xmeBW-upJMrGaY22gZAC&q=starbucks+nantes&oq=star+nantes&gs_l=psy-ab.3.0.0i7i30k1l3j0j0i7i30k1l6.88890.90889.0.93112.4.4.0.0.0.0.105.359.3j1.4.0....0...1.1.64.psy-ab..0.4.354....0.Wbs5TmOO5Ds">Starbucks </a> </li>
</ul>

<h2> Top des lieux payants </h2>
<ul> 
<li><a href="https://www.facebook.com/vacouva">Vacouva</a> </li>
<li><a href="https://www.dojonantes.com/">Dojo nantes</a> </li>
<li><a href="https://www.lespotmultiburo.com/">Le Spot Multiburo</a> </li>
<li><a href="https://www.la-cordee.net/cordee/nantes/nantes-foure/">La Cordée</a> </li>
<li><a href="http://www.dotparade.com/">Dot Parade</a> </li>
<li><a href="http://la-chapelle-coworking.fr/">La chapelle coworking</a> </li>
<li><a href="https://www.lacantine.co/">La cantine</a> </li>
<li><a href="http://www.ecossolies.fr/">Le solilab</a> </li>
<li><a href="https://www.facebook.com/Le-43-366657483462097/">Le 43</a> </li>
<li><a href="https://www.facebook.com/vacouva">Vacouva</a> </li>
<li><a href="http://euptouyou.com/">Euptouyou</a> </li>
<li><a href="https://www.facebook.com/Workhub44/">Workhub</a> </li>
</ul>


